In [1]:
# Libraries
import pandas as pd
import numpy as np
import re

In [2]:
path = 'C:/Users/Utilizador/repos/Python_ds_ao_dev/Projeto_Star_Jeans/data_row.csv'
data = pd.read_csv(path)

data.head()

,Unnamed: 0,product_id,product_name,product_type,product_price,scrapy_datetime,style_id,color_id,color_name,Fit,Composition,Description,messages.waistRise
0,0,1074475001,Loose Jeans,ladies_sport_sportaccessories,$ 39.99,2022-06-08 13:37:13,1074475,1,NaN,NaN,NaN,NaN,NaN
1,1,1071707001,Relaxed Jeans,ladies_sport_sportaccessories,$ 29.99,2022-06-08 13:37:13,1071707,1,NaN,NaN,NaN,NaN,NaN
2,2,985159001,Skinny Jeans,ladies_sport_sportaccessories,$ 19.99,2022-06-08 13:37:13,985159,1,NaN,NaN,NaN,NaN,NaN
3,3,1024256001,Slim Jeans,ladies_sport_sportaccessories,$ 19.99,2022-06-08 13:37:13,1024256,1,Black,Slim fit,"Shell: Cotton 99%, Spandex 1%",Black,Regular waist
4,4,1024256001,Slim Jeans,ladies_sport_sportaccessories,$ 19.99,2022-06-08 13:37:13,1024256,1,Black,Slim fit,"Pocket lining: Polyester 65%, Cotton 35%",Solid-color,Regular waist

In [3]:
data.drop(["Unnamed: 0"], axis=1, inplace=True)

In [4]:
data = data.drop_duplicates()

In [5]:
data = data.reset_index(drop=True)

In [6]:
data.head()

,product_id,product_name,product_type,product_price,scrapy_datetime,style_id,color_id,color_name,Fit,Composition,Description,messages.waistRise
0,1074475001,Loose Jeans,ladies_sport_sportaccessories,$ 39.99,2022-06-08 13:37:13,1074475,1,NaN,NaN,NaN,NaN,NaN
1,1071707001,Relaxed Jeans,ladies_sport_sportaccessories,$ 29.99,2022-06-08 13:37:13,1071707,1,NaN,NaN,NaN,NaN,NaN
2,985159001,Skinny Jeans,ladies_sport_sportaccessories,$ 19.99,2022-06-08 13:37:13,985159,1,NaN,NaN,NaN,NaN,NaN
3,1024256001,Slim Jeans,ladies_sport_sportaccessories,$ 19.99,2022-06-08 13:37:13,1024256,1,Black,Slim fit,"Shell: Cotton 99%, Spandex 1%",Black,Regular waist
4,1024256001,Slim Jeans,ladies_sport_sportaccessories,$ 19.99,2022-06-08 13:37:13,1024256,1,Black,Slim fit,"Pocket lining: Polyester 65%, Cotton 35%",Solid-color,Regular waist

# Data Cleaning H&M

In [7]:
# Checking NAN of entire dataset
data.isna().sum()

product_id             0
product_name           0
product_type           0
product_price          0
scrapy_datetime        0
style_id               0
color_id               0
color_name            29
Fit                   29
Composition           29
Description           29
messages.waistRise    29
dtype: int64

In [8]:
# Checking type of variables
data.dtypes

product_id             int64
product_name          object
product_type          object
product_price         object
scrapy_datetime       object
style_id               int64
color_id               int64
color_name            object
Fit                   object
Composition           object
Description           object
messages.waistRise    object
dtype: object

In [9]:
# Product_id
# Deleting NA from column: product_id      

data = data.dropna(subset=['product_id'])

In [10]:
# Product_name
# Replacing empty spaces with _ and making everything lowercase

data['product_name'] = data['product_name'].apply( lambda x: x.replace(' ', '_').lower())

In [11]:
# Product_price

# Withdrawing the $
data['product_price'] = data['product_price'].apply(lambda x: x.replace('$', '') )

# Changing variable type from objtct to float
data['product_price'] = data['product_price'].apply(lambda x: x.replace('$', '') ).astype(float)

# Outras formas de se fazer
# Formula para quando existir NA: data['product_price'] = data['product_price'].apply(lambda x: x.replace('$', '') if pd.notnull (x) else x)
# Formula para mudar tipo: data['product_price'] = data['product_price'].astype(float)

In [12]:
# Scrapy_datetime
# Changing the variable type to datetime

data['scrapy_datetime'] = pd.to_datetime(data['scrapy_datetime'], format= '%Y-%m-%d %H:%M:%S')

In [13]:
# Color_name
# Attention color_name has NA

# Know the values of color_name: checking for NA or strange characters
data['color_name'].unique()

# Replacing empty spaces with _, as / with _ and putting everything in lowercase and NA conference
data['color_name'] = data['color_name'].apply( lambda x: x.replace(' ', '_').replace('/', '_').lower() if pd.notnull(x) else x)

In [14]:
# Fit
# Attention Fit has NA

# Knowing the Fit values: checking for NA or strange characters
data['Fit'].unique()

# Replacing empty spaces with _, lowering everything and NA conference
data['Fit'] = data['Fit'].apply( lambda x: x.replace(' ', '_').lower() if pd.notnull(x) else x)

In [15]:
# Composition: colunas com muitas informações
# Attention Composition has NA

# Knowing Composition values: checking for NA or strange characters
data['Composition'].unique()

array([nan, 'Shell: Cotton 99%, Spandex 1%',
       'Pocket lining: Polyester 65%, Cotton 35%'], dtype=object)

In [16]:
# Checking the distribution on dataFrame columns
data[['product_id', 'Composition']].sample(10)

     product_id                               Composition
106  1024256008             Shell: Cotton 99%, Spandex 1%
75   1008549006                                       NaN
67   1024256003             Shell: Cotton 99%, Spandex 1%
97   1008110002                                       NaN
69   1024256003             Shell: Cotton 99%, Spandex 1%
25   1024256002             Shell: Cotton 99%, Spandex 1%
1    1071707001                                       NaN
98   1024256008             Shell: Cotton 99%, Spandex 1%
4    1024256001  Pocket lining: Polyester 65%, Cotton 35%
33   1024256005             Shell: Cotton 99%, Spandex 1%

In [17]:
# Deleting from this column: Pocket lining
data = data[~data['Composition'].str.contains('Pocket lining:', na=False)].reset_index(drop=True)

In [18]:
data['Composition'].head(20)

0                               NaN
1                               NaN
2                               NaN
3     Shell: Cotton 99%, Spandex 1%
4     Shell: Cotton 99%, Spandex 1%
5     Shell: Cotton 99%, Spandex 1%
6     Shell: Cotton 99%, Spandex 1%
7     Shell: Cotton 99%, Spandex 1%
8     Shell: Cotton 99%, Spandex 1%
9     Shell: Cotton 99%, Spandex 1%
10    Shell: Cotton 99%, Spandex 1%
11    Shell: Cotton 99%, Spandex 1%
12    Shell: Cotton 99%, Spandex 1%
13    Shell: Cotton 99%, Spandex 1%
14    Shell: Cotton 99%, Spandex 1%
15    Shell: Cotton 99%, Spandex 1%
16    Shell: Cotton 99%, Spandex 1%
17    Shell: Cotton 99%, Spandex 1%
18    Shell: Cotton 99%, Spandex 1%
19    Shell: Cotton 99%, Spandex 1%
Name: Composition, dtype: object

In [19]:
# Separating column Composition
df1 = data['Composition'].str.split(',', expand=True).reset_index(drop=True)
df1

                    0            1
0                 NaN          NaN
1                 NaN          NaN
2                 NaN          NaN
3   Shell: Cotton 99%   Spandex 1%
4   Shell: Cotton 99%   Spandex 1%
..                ...          ...
73                NaN          NaN
74                NaN          NaN
75                NaN          NaN
76                NaN          NaN
77                NaN          NaN

[78 rows x 2 columns]

In [20]:
df1.shape

(78, 2)

In [21]:
data.shape

(78, 12)

In [22]:
# Creat new column
data['shell_cotton'] = ''

# Assigning values
data['shell_cotton'] = df1[0]

# Format Composition Data
data['shell_cotton'] = data['shell_cotton'].apply( lambda x: int(re.search ('\d+', x).group(0)) / 100 if pd.notnull(x) else x)

In [23]:
# Creat new column
data['shell_spandex'] = ''

# Assigning values
data['shell_spandex'] = df1[1]

# Format Composition Data
data['shell_spandex'] = data['shell_spandex'].apply( lambda x: int(re.search ('\d+', x).group(0)) / 100 if pd.notnull(x) else x)

In [24]:
data.head()

,product_id,product_name,product_type,product_price,scrapy_datetime,style_id,color_id,color_name,Fit,Composition,Description,messages.waistRise,shell_cotton,shell_spandex
0,1074475001,loose_jeans,ladies_sport_sportaccessories,39.99,2022-06-08 13:37:13,1074475,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1071707001,relaxed_jeans,ladies_sport_sportaccessories,29.99,2022-06-08 13:37:13,1071707,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,985159001,skinny_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,985159,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1024256001,slim_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,1024256,1,black,slim_fit,"Shell: Cotton 99%, Spandex 1%",Black,Regular waist,0.99,0.01
4,1024256001,slim_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,1024256,1,light_denim_blue,slim_fit,"Shell: Cotton 99%, Spandex 1%",Black,Regular waist,0.99,0.01

In [25]:
df_aux = data[data['product_id']==1024256001].sort_values('color_name')
df_aux

,product_id,product_name,product_type,product_price,scrapy_datetime,style_id,color_id,color_name,Fit,Composition,Description,messages.waistRise,shell_cotton,shell_spandex
3,1024256001,slim_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,1024256,1,black,slim_fit,"Shell: Cotton 99%, Spandex 1%",Black,Regular waist,0.99,0.01
6,1024256001,slim_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,1024256,1,dark_blue,slim_fit,"Shell: Cotton 99%, Spandex 1%",Black,Regular waist,0.99,0.01
7,1024256001,slim_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,1024256,1,dark_denim_blue,slim_fit,"Shell: Cotton 99%, Spandex 1%",Black,Regular waist,0.99,0.01
8,1024256001,slim_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,1024256,1,dark_gray,slim_fit,"Shell: Cotton 99%, Spandex 1%",Black,Regular waist,0.99,0.01
5,1024256001,slim_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,1024256,1,denim_blue,slim_fit,"Shell: Cotton 99%, Spandex 1%",Black,Regular waist,0.99,0.01
4,1024256001,slim_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,1024256,1,light_denim_blue,slim_fit,"Shell: Cotton 99%, Spandex 1%",Black,Regular waist,0.99,0.01
9,1024256001,slim_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,1024256,1,white,slim_fit,"Shell: Cotton 99%, Spandex 1%",Black,Regular waist,0.99,0.01

In [26]:
data = data.drop(columns=['Composition', 'Description'], axis=1)

In [28]:
data = data.drop_duplicates()

In [29]:
data.head()

,product_id,product_name,product_type,product_price,scrapy_datetime,style_id,color_id,color_name,Fit,messages.waistRise,shell_cotton,shell_spandex
0,1074475001,loose_jeans,ladies_sport_sportaccessories,39.99,2022-06-08 13:37:13,1074475,1,NaN,NaN,NaN,NaN,NaN
1,1071707001,relaxed_jeans,ladies_sport_sportaccessories,29.99,2022-06-08 13:37:13,1071707,1,NaN,NaN,NaN,NaN,NaN
2,985159001,skinny_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,985159,1,NaN,NaN,NaN,NaN,NaN
3,1024256001,slim_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,1024256,1,black,slim_fit,Regular waist,0.99,0.01
4,1024256001,slim_jeans,ladies_sport_sportaccessories,19.99,2022-06-08 13:37:13,1024256,1,light_denim_blue,slim_fit,Regular waist,0.99,0.01

In [30]:
data.to_csv('data_product_hm_cleaned.csv')